{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Other head content -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="{% static 'css/custom-overrides.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/marquee.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock extra_css %}
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{}">UFC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
          <a class="nav-link {% if '/about/' in request.path %}active{% endif %}" href="{% url 'about' %}">About</a>
          <a class="nav-link" href="#">Issues</a>
          <a class="nav-link" href="#">Teams</a>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/admin/">Admin</a>
          {% if user.is_authenticated %}
            <a class="nav-link" href="#">{{ user.username }}</a>
            <a class="nav-link" href="#">Logout</a>
          {% else %}
            <a class="nav-link" href="#">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  
  <!-- UFC Marquee banner -->
  <div class="announcement">
    <div class="marquee">
        <span>UFC 310 COMING SOON</span>
        <span>FIGHT NIGHT APRIL 20</span>
        <span>PPV TICKETS AVAILABLE</span>
        <span>CHAMPIONSHIP FIGHTS</span>
        <span>UFC 310 COMING SOON</span>
        <span>FIGHT NIGHT APRIL 20</span>
        <span>PPV TICKETS AVAILABLE</span>
        <span>CHAMPIONSHIP FIGHTS</span>
        <span>UFC 310 COMING SOON</span>
        <span>FIGHT NIGHT APRIL 20</span>
        <span>PPV TICKETS AVAILABLE</span>
    </div>
    <div class="marquee">
        <span>UFC 314 COMING SOON</span>
        <span>FIGHT NIGHT APRIL 20</span>
        <span>PPV TICKETS AVAILABLE</span>
        <span>VOLKANOVSKI VS LOPEZ 314 </span>
        <span>UFC 310 COMING SOON</span>
        <span>FIGHT NIGHT APRIL 20</span>
        <span>PPV TICKETS AVAILABLE</span>
        <span>VOLKANOVSKI VS LOPEZ 314</span>
        <span>UFC 314 COMING SOON</span>
        <span>FIGHT NIGHT APRIL 20</span>
        <span>PPV TICKETS AVAILABLE</span>
    </div>
  </div>
  
  <div class="container mt-4">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    {% block content %}{% endblock content %}
  </div>
  
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">Issue Tracker &copy; {% now "Y" %}</span>
    </div>
  </footer>
  
  <script 
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous">
  </script>
  {% block extra_js %}{% endblock extra_js %}
</body>

</html>